@page
@model IndexModel
@{
    ViewData["Title"] = "Project Overview";
}

<div class="background-image">

    <form asp-controller="" asp-action="Charts" method="get">
        <input type="text" placeholder="Search for data here..." />
        <input type="submit" value="Search!" />
    </form>

    <div id="overview-text">
        <h2>Overview</h2>
        <p>
            NinerFi Analytics is a student led project focussed on creating 
            useful visualizations of campus network data.
        </p>
        <p>
            This project was created because UNCC has nearly 2 years of network 
            data in archives with no easy way to use it. 
        </p>
        <p>
            This web application provides students and staff with an easy way 
            to view various network statistics for research or business purposes.
        </p>
    </div>
    
    <img src="~/images/wifi.png" alt="WiFi signal" id="wifi">

</div>