@page
@model NinerFiAnalytics.Pages.OneITModel
@{
    ViewData["Title"] = "OneIT";
}

<div class="content">
    <h2>OneIT</h2>
    <h3>Data Upload Application</h3>
    <p>
        Our desktop application allows users to upload or drag-n-drop
        Wi-Fi log files so that relevant data from the files can be 
        stored in a database.
    </p>
</div>