@page
@model NinerFiAnalytics.DatapointsModel
@{
    ViewData["Title"] = "Datapoints";
}

<div class="p-4">
    <h2>Datapoints Table</h2>
    <div id="tableContainer" class="p-3"></div>
</div>

<script src="~/js/dataPoints.js" asp-append-version="true"></script>