@page
@model NinerFiAnalytics.Pages.HeatmapModel
@{
    ViewData["Title"] = "Heatmap";
}

<div class="p-4">
    <h2>Example of Heatmap</h2>
    <canvas class="bg-white" id="myChart" aria-label="Number of Logs Chart" role="img"></canvas>

    <!--<script src="~/js/site.js" asp-append-version="true"></script>-->
</div>