@page
@model IndexModel
@{
    ViewData["Title"] = "Project Overview";
}

<div class="container-fluid background">
    <div class="d-flex align-middle">
        <div class="text-white m-auto p-3" style="background-color: #046a38;">
            <h2>Overview</h2>
            <p>
                NinerFi Analytics is a student led project focussed on creating
                useful visualizations of campus network data.
            </p>
            <p>
                This project was created because UNCC has nearly 2 years of network
                data in archives with no easy way to use it.
            </p>
            <p>
                This web application provides students and staff with an easy way
                to view various network statistics for research or business purposes.
            </p>
        </div>
        <div class="m-auto p-5">
            <img src="~/images/wifi.png" alt="WiFi Icon">
        </div>
    </div>
</div>

