@page
@model NinerFiAnalytics.Pages.LogsByDateModel
@{
    ViewData["Title"] = "LogsByDate";
}

<div class="p-4">
    <h2>Test Page :)</h2>
    <h2>Number of Logs @ViewData["dateselected"]</h2>

    <!-- Form to choose day/hour/minute to focus on-->
    <form method="post">
        <div class="form-inline">
            <label for="year">Year</label>
            <select id="year" asp-for="Year" class="form-control" aria-describedby="year">
                <option selected>2021</option>
            </select>

            <label for="month">Month</label>
            <select id="month" asp-for="Month" class="form-control" aria-describedby="month">
                <option selected>1</option>
                <option>2</option>
            </select>

            <label for="day">Day</label>
            <select id="day" asp-for="Day" class="form-control" aria-describedby="day">
                <option selected>1</option>
                <option>2</option>
            </select>

            <button type="submit" asp-page-handler="Submit" class="btn btn-primary">Submit</button>
        </div>
    </form>

    <div class="text-center">
        <div class="spinner-border text-success" style="width: 3rem; height: 3rem;" role="status" aria-label="Spinning loading indicator">
            <!--<span class="sr-only">Loading...</span>-->
        </div>
    </div>

    <canvas id="testChart" aria-label="Test - No of Logs by Time" role="img" style="width: 100vw; height: 100vh;"></canvas>

    <img src="~/images/file_download_icon.svg" alt="file download icon" id="download" height="50" width="50" />

    <script src="~/js/dateChart.js" asp-append-version="true"></script>
</div>