@page
@model NinerFiAnalytics.Pages.NetworkStatisticsModel
@{
    ViewData["Title"] = "Network Statistics";
}

<div class="p-4">
    <h2>Network Statistics</h2>

    <div class="text-center">
        <div class="spinner-border text-success" style="width: 5rem; height: 5rem;" role="status" aria-label="Spinning loading indicator">
            <!--<span class="sr-only">Loading...</span>-->
        </div>
    </div>

    <h3>Total Number of Logs - Percentage per Hostname</h3>
    <canvas id="doughnutChart" aria-label="Percentage of total logs per hostname chart" role="img" style="width: 30vw; height: 30vh;"></canvas>

    <h3>Total Number of Logs per Hostname</h3>
    <canvas id="networkChart" aria-label="Aggregate logs per hostname chart" role="img" style="width: 30vw; height: 30vh;"></canvas>

    <script src="~/js/networkChart.js" asp-append-version="true"></script>
</div>