@page
@model NinerFiAnalytics.Pages.NetworkStatisticsModel
@{
    ViewData["Title"] = "Network Statistics";
}

<h2>Network Statistics</h2>
<canvas id="networkChart" aria-label="Network Statistics Chart" role="img"></canvas>

<script src="~/js/networkChart.js" asp-append-version="true"></script> 