<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NinerFi Analytics</title>
    <link rel="stylesheet" href="https://use.typekit.net/uxo1ppe.css">
    <link rel="shortcut icon" type="image/ico" href="~/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="~/css/site.css" asp-append-version="true" />
</head>

<body>
    <header>
        <a asp-area="" asp-page="/Index">
            <img src="~/images/uncc-logo.png" alt="UNCC Logo" id="logo">
            <h2 id="nav-title">NINERFI ANALYTICS</h2>
        </a>

        <nav>
            <ul id="nav-items">
                <li>
                    <a asp-area="" asp-page="/Index">Project Overview</a>
                </li>
                <li>
                    <a asp-area="" asp-page="/Heatmap">Heatmap</a>
                </li>
                <li>
                    <a asp-area="" asp-page="/Charts">Charts</a>
                </li>
                <li>
                    <a asp-area="" asp-page="/OneIT">OneIT</a>
                </li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <p>&copy; NinerFi Analytics</p>
    </footer>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>